{%extends "base.html"%}
{%block title%}About us{%endblock%}
{%block h1%}Rarely asked questions{%endblock%}
{%block description%}
<ul>
	<li>Q: What is that web site about?</li>
	<li>A: That's an example of modern art from Odessa museum of modern art.</li>
</ul>{%endblock%}