<html>
	<head>
		<title>{%block title%}{%endblock%}</title>
	</head>
</html>
<h1><a href="/">Ololo keys</a></h1>
<h1>{%block h1%}{%endblock%}</h1>
<div id="description">{%block description%}{%endblock%}</div>