{%extends "coin.html"%}
{%block vars%}{%set prefix="btc" %}{%endblock%}
{%block navigation%}
<div>
	
	{% if page>0 %}
	<a href="/btc/0"><button><<</button></a>
	<a href="/btc/{{page-1}}"><button><</button></a>
	{%endif%}
	{% if page<LAST_PAGE %}
	<a href="/btc/{{page+1}}"><button>></button></a>
	<a href="/btc/{{LAST_PAGE}}"><button>>></button></a>

	{%endif%}
</div>
{%endblock%}

{%block title%}BTC wallets, page {{page}}{%endblock%}
{%block script%}
<script>
	$.map($(".wallet"),function(v,k){
		var id=$(v).attr('id');
	$.get("https://blockchain.info/q/addressbalance/"+id,function(data){
		data=parseFloat(data);

		var res=$(v).find(".res");

		res.html(data);
	})
})</script>
{%endblock%}