{%block vars%}{% set prefix = "btc" %}{%endblock%}
{%macro navigation()%}
{%block navigation%}
<div>
	
{% if page>0 %}
<a href="/{{prefix}}/0"><button><<</button></a>
<a href="/{{prefix}}/{{page-1}}"><button><</button></a>
{%endif%}
{% if page<LAST_PAGE %}
<a href="/{{prefix}}/{{page+1}}"><button>></button></a>
<a href="/{{prefix}}/{{LAST_PAGE}}"><button>>></button></a>

{%endif%}
</div>
{%endblock%}
{%endmacro%}
<script src="/static/jquery.js"></script>
<a href="/"><h1>Ololo keys</h1></a>
<h2>{%block title%}BTC wallets, page {{page}}{%endblock%}</h2>
{%block comment%}{%endblock%}
{{navigation()}}
{% for wallet in wallets %}
<span class="wallet" id="{{wallet.addr}}"> <b class="res"></b>&nbsp;{{wallet.key}} <a href="{{url_monitor}}/{{wallet.addr}}" target="_blank">{{wallet.addr}}</a></span><br/>

{%endfor%}
{{navigation()}}
<!--script src="https://www.google.com/recaptcha/api.js?render=reCAPTCHA_site_key"></script>
  <script>
  grecaptcha.ready(function() {
      grecaptcha.execute('reCAPTCHA_site_key', {action: 'homepage'}).then(function(token) {
         ...
      });
  });
  </script-->
{%block script%}
<script>
	$.map($(".wallet"),function(v,k){
		var id=$(v).attr('id');
		$.get("https://blockchain.info/q/addressbalance/"+id,function(data){
			data=parseFloat(data);

			var res=$(v).find(".res");
			
			res.html(data);
		})
	})</script>
{%endblock%}