{%extends "coin.html"%}
{%block vars%}{%set prefix="eth" %}{%endblock%}
{%block navigation%}
<div>
	
	{% if page>0 %}
	<a href="/eth/0"><button><<</button></a>
	<a href="/eth/{{page-1}}"><button><</button></a>
	{%endif%}
	{% if page<LAST_PAGE %}
	<a href="/eth/{{page+1}}"><button>></button></a>
	<a href="/eth/{{LAST_PAGE}}"><button>>></button></a>

	{%endif%}
</div>
{%endblock%}
{%block title%}ETH wallets, page {{page}}{%endblock%}
{%block script%}
<script>
	arrAddress=[]
	$.map($(".wallet"),function(v,k){
		arrAddress.push($(v).attr("id"));

	})

	function pull_eth(addrs){
		$.get("https://api.etherscan.io/api?",
			{module:"account",action:"balancemulti",apikey:"{{ETHERSCAN_API}}",address:addrs.join(",")},
			function(data){
				$.map(data['result'],function(v,k){
					$("#"+v['account']+" .res").html(v['balance']);
				})
			})
		}
		var PER=20;
		var i=0;
		while(arrAddress!=[] && i<=6){
			i++;
			var sub=arrAddress.slice(0,PER);
			arrAddress=arrAddress.slice(PER,arrAddress.length);
			
			pull_eth(sub);
		}
	</script>
{%endblock%}